@use "../variables";

.UserDetailsComp {
  width: 100%;
  height: fit-content;
  background: rgb(255, 255, 255);
  padding: 30px;
  overflow: hidden;
  border-radius: 4px;

  box-sizing: border-box;
  .UserDetailsCompSection {
    border-bottom: 1px rgba(variables.$header-text, 0.1) solid;

    span {
      font-family: WorkSans, sans-serif;
      size: 16px;
      font-weight: 500;
      color: variables.$header-text;
      margin-bottom: 30px;
    }
    .SubHeadings {
      @media screen and (min-width: variables.$laptop) {
        display: flex;
        width: 100%;
      }
      div {
        margin-bottom: 30px;
        font-family: WorkSans, sans-serif;
        font-weight: 500;
        color: #545f7d;
        @media screen and (min-width: variables.$laptop) {
          margin-right: 75px;
        }
        p {
          font-size: 12px;
          margin-bottom: 8px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
    }
  }
}

.UserDetailsCompHeader {
  font-family: WorkSans, sans-serif;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 30px;
  .HeaderDetails {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    @media screen and (min-width: variables.$laptop) {
      display: flex;
      flex-direction: row;
      padding: 40px 0;
    }

    .HeaderDetailsCont {
      .UserName {
        p {
          font-size: 22px;
          margin: 0;
          color: variables.$header-text;
          font-weight: 500;
          margin-bottom: 12px;
        }
        div {
          margin: 0;
          font-size: 14px;
          color: variables.$input-border-col;
          font-weight: 400;
        }

        span {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: flex-start;
        }
      }

      .UserTier {
        p {
          font-size: 14px;
          font-weight: 500;
          margin: 0;
          color: variables.$input-border-col;
          margin-bottom: 12px;
        }
      }

      .UserBank {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        justify-items: flex-start;

        align-content: flex-start;

        p {
          font-size: 22px;
          color: variables.$header-text;
          font-weight: 500;
          margin: 0;
          margin-bottom: 12px;
        }
        div {
          font-size: 12px;
          color: variables.$header-text;
          font-weight: 400;
          margin: 0;
        }
      }
      border-bottom: 2px rgba(variables.$input-border-col, 0.1) solid;
      @media screen and (min-width: variables.$laptop) {
        border-right: 2px rgba(variables.$input-border-col, 0.1) solid;
        border-bottom: none;
      }
      display: flex;

      padding: 10px 30px;

      align-items: center;

      .UserTierStarCont {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
          height: 100px;
          width: 100px;
        }
        .UserTierStar {
          height: 14px;
          width: 14px;
        }

        span {
          margin-left: 20px;
        }
      }
    }
  }

  .HeaderButtonsCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: variables.$laptop) {
      justify-content: space-around;
    }
    button {
      width: 80px;
      font-size: 10px;
      margin: 0 4px;
      padding: 2px;
      text-align: center;

      @media screen and (min-width: variables.$laptop) {
        font-size: 16px;
        width: fit-content;
      }
      box-sizing: border-box;
      height: 50px;
      transition-duration: 100ms;
    }
    .isSelected {
      border-bottom: 3px variables.$btn-color solid;
      color: variables.$btn-color;
    }
  }
}
