@use "../../variables";

.PopUpMenu {
  position: absolute;

  width: 180px;
  height: 130px;
  padding: 20px;
  padding-left: 43px;
  padding-right: 43px;
  border-radius: 4px;
  right: 0;
  font-family: WorkSans, sans-serif;
  font-size: 12px;

  background-color: white;
  filter: drop-shadow(3px, 5px rgba(0, 0, 0, 0.04));
  box-sizing: border-box;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

  align-content: flex-start;
  z-index: 60;
  filter: drop-shadow(3px, 5px rgba(0, 0, 0, 0.04));
  a {
    all: unset;
  }
  button {
    font-family: WorkSans, sans-serif;
    font-weight: 500;
    display: flex;
    transition-duration: 100;
    color: variables.$header-text;
    &:hover {
      opacity: 0.7;
    }

    margin-bottom: 20px;
    position: relative;
    img {
      all: unset;
      height: 12.5px;
      position: absolute;
      left: -20px;
    }
  }
}
