@use "../variables";

.DashboardCont {
  position: relative;
  width: 100%;
  overflow: hidden;

  .MainCont {
    display: flex;
    width: 100%;
    margin-top: 140px;
  }
  .Comp {
    max-width: 1037px;
    height: 640px;
    width: 100%;
    padding: variables.$mobile-padding;
    background-color: yellow;
    @media screen and (min-width: variables.$tab) {
      width: 80%;
    }
  }
  .CompCont {
    width: 100%;

    @media screen and (min-width: variables.$tab) {
      width: 80%;
    }
  }
}

.SideBar {
  max-width: 238px;
  height: 100vh;
  background-color: red;
  max-width: 238px;
  width: 20vw;
  position: absolute;
  left: -50%;
  @media screen and (min-width: variables.$tab) {
    display: block;
    position: initial;
  }
}

.Header {
  width: 100%;
  height: fit-content;
  padding-top: 10px;
  position: fixed;
  color: variables.$header-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;

  box-shadow: 2px;
  @media screen and (min-width: 600px) {
    background-color: red;
  }
  input {
    width: 60vw;
    height: 40px;
    border-radius: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 12px;
  }
  .ProfilePic {
    border-radius: 50%;
    width: 40px;
  }

  .InfoHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;

    width: 100%;
    .Logo {
      width: 115px;
    }
  }
  span {
    font-size: 12px;
    font-family: Avenir400;
    font-weight: 700;
  }
  .ProfilePicCont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    .BellIcon {
      width: 20px;
    }
  }
}
