@use "../variables";

@mixin SideComp($margin-bottom, $span-font-size: 16px) {
  width: 100%;
  height: 40px;
  display: flex;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: $margin-bottom;
  font-family: WorkSans, sans-serif;
  color: variables.$header-text;
  opacity: 0.7;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition-duration: 100ms;

  span {
    margin-left: 10px;
    font-size: $span-font-size;
    font-weight: 400;
  }
  &.isSelected {
    border-left: 3px variables.$btn-color solid;
    opacity: 1;
    background-color: rgba(variables.$btn-color, 0.06);
  }
}

.DashboardCont {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #e5e5e5;

  height: 99.9vh;
  @media screen and (min-width: variables.$laptop) {
    height: fit-content;
  }
  .MainCont {
    display: flex;
    width: 100%;
    margin-top: 140px;
    background-color: #e5e5e5;
    @media screen and (min-width: variables.$lg-laptop) {
      margin-top: 100px;
    }
  }
  .ChildCont {
    max-width: 1037px;
    height: 640px;
    width: 100%;
    padding: variables.$mobile-padding;

    @media screen and (min-width: variables.$tab) {
      width: 80%;
    }
  }
  .CompCont {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    @media screen and (min-width: variables.$tab) {
      width: 80%;
    }
  }
}

.SideBar {
  max-width: 238px;
  height: 70vh;
  overflow: auto;
  padding-bottom: 300px;
  background-color: white;
  position: fixed;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  left: 0%;
  width: 238px;
  z-index: 30;

  transition-duration: 500ms;
  &.Opened {
    left: 0%;
  }
  &.Closed {
    left: -100%;
  }

  @media screen and (min-width: variables.$laptop) {
    display: block;
    position: initial;
    max-width: 238px;
    height: fit-content;
    width: 283px;
  }

  .MenuCont {
    span {
      font-size: 12px;
      font-family: WorkSans, sans-serif;
      font-weight: 600;
      padding-left: 30px;
      margin: 10px 0;
      color: variables.$input-border-col;
    }
  }

  .SideBarOptionsComp {
    @include SideComp(10px);
  }
  .SwitchOrg {
    @include SideComp(52px);
    margin-top: 39px;
    opacity: 1;
    button {
      margin-left: 5px;
    }
  }
  .Dashboard {
    @include SideComp(41px);
  }
}

/* The Styling for the header component for Mobile screens to Tab Screens. The Tab screen variable can be found in the _variables.scss file */

.Header {
  width: 100%;
  height: fit-content;
  padding: 10px 0;
  position: fixed;
  color: variables.$header-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: white;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

  z-index: 100;

  box-shadow: 2px;
  @media screen and (min-width: variables.$lg-laptop) {
    display: none;
  }
  .SearchBar {
    display: flex;
    justify-items: center;
    align-content: center;

    margin-top: 5px;
    button {
      background-color: variables.$btn-color;
      width: 56px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px 8px 8px 0px;
      img {
        height: 14px;
        width: 14px;
      }
    }
  }
  input {
    width: 60vw;
    height: 40px;
    border-radius: 8px 0px 0px 8px;

    box-sizing: border-box;
    padding: 12px;
    border: 1px rgba(variables.$input-border-col, 0.2) solid;
  }
  .ProfilePic {
    border-radius: 50%;
    width: 40px;
  }

  .MenuHamburger {
    @media screen and (min-width: variables.$laptop) {
      display: none;
    }
  }

  .InfoHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;

    width: 100%;
    .Logo {
      width: 115px;
    }
    .Docs {
      font-family: RobotoRegular;
      color: variables.$header-text;
      border-bottom: 2px variables.$header-text solid;
      cursor: pointer;
    }
    span {
      font-family: WorkSans, sans-serif;
      font-weight: 500;
    }
  }
  span {
    font-size: 12px;
    font-family: Avenir400;
    font-weight: 700;
  }
  .ProfilePicCont {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60%;
    .BellIcon {
      width: 20px;
    }
  }
}

/* The Styling for the header component for Tab screens and above. The Tab screen variable can be found in the _variables.scss file */

.HeaderTab {
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 100;
  position: fixed;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  color: variables.$header-text;

  display: none;
  align-items: center;
  @media screen and (min-width: variables.$lg-laptop) {
    display: flex;
  }

  .Logo {
    width: 115px;
    position: absolute;
    left: 30px;
    top: 35px;
  }
  .Docs {
    font-family: RobotoRegular;
    color: variables.$header-text;
    border-bottom: 2px variables.$header-text solid;
  }
  span {
    font-family: WorkSans, sans-serif;
    font-weight: 500;
  }
  .SearchBar {
    display: flex;
    justify-items: center;
    align-content: center;
    position: absolute;
    left: 343px;
    top: 30px;
    margin-top: 5px;

    margin-top: 5px;
    button {
      background-color: variables.$btn-color;
      width: 56px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px 8px 8px 0px;
      img {
        height: 14px;
        width: 14px;
      }
    }
  }
  input {
    width: 400px;
    height: 40px;
    border-radius: 8px 0px 0px 8px;

    box-sizing: border-box;
    padding: 12px;

    border: 1px rgba(variables.$input-border-col, 0.2) solid;
  }
  .ProfilePicCont {
    display: flex;
    align-items: center;
    position: absolute;
    right: 43px;
    top: 30px;
    :nth-child(1) {
      margin-right: 50px;
    }
    :nth-child(2) {
      margin-right: 33px;
    }
    :nth-child(3) {
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}
