@use "../variables";

.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.Logo {
  position: absolute;
  top: 5%;
  @media screen and (min-width: variables.$tab) {
    left: 7%;
    top: 7.4%;
  }
}

.LoginDetailComp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: variables.$mobile-padding;

  @media screen and (min-width: variables.$tab) {
    width: 50vw;
    padding: variables.$mobile-padding;
  }

  h1 {
    font-size: 60px;
    margin-bottom: 4px;
  }

  input {
    max-width: 447px;
    height: 50px;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 16px;
    font-family: Avenir400;
    width: 100%;
    box-sizing: border-box;
    border: 2px rgba(84, 95, 125, 0.15) solid;
  }

  .inputCont {
    max-width: 447px;
    width: 100%;

    display: flex;
    align-items: center;
    position: relative;
  }

  .ShowInput {
    right: 2%;
    top: 30%;

    position: absolute;

    background-color: transparent;
    color: #39cdcc;
    z-index: 50;
    font-size: 12px;
    font-family: Avenir600;
  }

  .headingCont {
    max-width: 447px;
    width: 100%;
    margin-bottom: 60px;
    .h1 {
      all: unset;
      font-size: 40px;
      font-weight: 700;
      color: variables.$header-text;
      font-family: Avenir700;
    }
    .h2 {
      all: unset;
      display: block;
      margin-top: 10px;
      font-size: 20px;
      color: variables.$header-text;
      font-family: Avenir400;
    }
  }

  .ForgotBtn {
    max-width: 447px;
    font-size: 12px;
    width: 100%;
    font-family: Avenir600;
    button {
      color: variables.$btn-color;
    }
  }

  .LoginBtnCont {
    max-width: 447px;
    width: 100%;
    margin-top: 30px;
    button {
      width: 100%;
      height: 48px;
      background: variables.$btn-color;
      color: white;
      font-family: Avenir600;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
  }
}

.Illustration {
  width: 50%;
  max-width: 600px;
  display: none;
  @media screen and (min-width: variables.$tab) {
    display: block;
  }
}
