html {
  margin: 0%;
  padding: 0%;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px red solid;
  width: fit-content;
}

.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 50vw;
    max-width: 600px;
  }
}

.LoginDetailComp {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 60px;
  }

  input {
    max-width: 447px;
    height: 50px;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
    border: 2px rgba(84, 95, 125, 0.15) solid;
  }
}

/* Common Styling  */

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.a {
  position: absolute;
}

.r {
  position: relative;
}
