html {
  margin: 0%;
  padding: 0%;
}

/* Default Styling for Button for Cursor to change to pointer on hover */
button {
  &:hover {
    cursor: pointer;
  }
  all: unset;
}

.Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px red solid;
  width: fit-content;
}

/* Common Styling For easier and flexible styling*/

.w-full {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.a {
  position: absolute;
}

.r {
  position: relative;
}

.c {
  border: 2px red solid;
}

/*remove default styling from elements*/
.revert {
  all: unset;
}

/* Fonts */

@font-face {
  font-family: Avenir400;
  src: url("../public/Fonts/Avenir/Metropolis-Light.otf");
}

@font-face {
  font-family: Avenir600;
  src: url("../public/Fonts/Avenir/Metropolis-SemiBold.otf");
}

@font-face {
  font-family: Avenir700;
  src: url("../public/Fonts/Avenir/Metropolis-Bold.otf");
}

@font-face {
  font-family: WorkSans;
  src: url("../public/Fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}
