@use "../../variables";

.MainComp {
  height: 600px;
  width: 270px;
  background: rgb(255, 255, 255);
  position: absolute;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  left: 15px;
  padding: 30px 20px;
  box-sizing: border-box;
  z-index: 50;
  border: 1px rgba(variables.$header-text, 0.2) solid;
  div {
    margin: 20px 0;
  }
  label {
    font-family: WorkSans, sans-serif;
    font-size: 14px;
    color: variables.$header-text;
  }
  input,
  select {
    padding: 12px 20px;
    box-sizing: border-box;
    width: 100%;
    opacity: 0.7;
    border-radius: 8px;
    color: variables.$input-border-col;
    border: 1px rgba(variables.$header-text, 0.2) solid;
  }
}
